html {
	background-color: black;
	color:#fff;
	-webkit-font-smoothing: antialiased;

	background-color:#2D2F43;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
  font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}

/*.bg-image {
	background-color:#2D2F43;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
}
*/
a {
	cursor: pointer;
}

.header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:10rem;
	z-index: 10;
}

.header-bg {
	background-color:#2D2F43;
	background-size: cover;
	background-position: center top;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	pointer-events:none;
	opacity:0.95;
}

@media (min-width: 550px) {

	html {
		background-image: url(../images/bg.jpg);
	}

	.header-bg {
		background-image:url(../images/bg.jpg);
	}
}


@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
  .header-bg { 
	-webkit-mask-image: -webkit-gradient(linear, left 40%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	height:150%;
	opacity: 1.0;
  }  
}

section {
	padding-top:5rem;
	padding-bottom:5rem;
}

.header .container {
	height:10rem;
}

.logo {
	float:left;
	font-family: 'Noto Serif';
	font-weight: bold;
	font-size:4rem;
	color:#7FF5FC;
	position: absolute;
	top: 50%;
	letter-spacing: 10px;
	transform: translateY(-50%);
	text-decoration: none;
	width:15rem;
	height:5rem;
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999em;
}

.logo {
}

.byline {
	font-weight: normal;
}

.navbar {
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
	font-family: 'Ubuntu';
	display:none;
}

/* Larger than desktop */
@media (min-width: 750px) {
	.header {
		height:10rem;
	}

	.navbar {
		display:block;
	}

}

.navbar a {
	text-decoration: none;
	color:#fff;
	display:inline-block;
	margin:0 2rem;
	text-transform: uppercase;
	opacity: .5;
}

.navbar a:hover, .navbar a.selected {
	color:#fff;
	opacity:1.0;
}

.navbar a.selected {
	font-weight: bold;
}

.splash {
	text-align: center;
	color:#fff;
	margin:0 0 20px 0;
}

@media (min-width: 750px) {
	.splash {
		margin:50px 0 75px 0;
	}
}

.slogan {
	color:#fff;
	font-weight:bold;
	font-size:2.75rem;
	font-family: "Ubuntu";
	text-transform: uppercase;
	letter-spacing: .05rem;
}

.nominate {
	margin:0 auto;
	/*border:2px solid #7FF5FC;*/
	border-radius: 0;
	font-family: "Ubuntu";
	text-transform: uppercase;
	display:inline-block;
	padding:1rem 2rem;
	text-decoration: none;
	position:relative;
	z-index:5000;
	box-sizing:border-box;
	background-color:#7FF5FC;
	color:#1C1E2C;
	font-weight: bold;
	opacity:1.0;
	transition:opacity 0.2s ease-in;
	transform: translate3d(0,0,0);
}


.hang {
	position:absolute;
	width:2px;
	height:100px;
	background-color: #7ff5fc;
	top:-100px;
	left:50%;
	display:none;
}

.nominate.latched {
	position:fixed;
	top:5rem;
	right:5rem;
    transform: translateY(-50%);
}

@media (min-width: 750px) {
	.nominate.latched {
		left:50%;
		right:inherit;
	    transform: translateX(-50%) translateY(-50%);
	}
}


.nominate.latched .hang {
	display:block;
}

.nominate:hover {
	background-color:#50DCE4;
	color:#1C1E2C;
}

.nominate.selected {
	opacity:0.0;
}

/*.nominate:focus {
	color:#fff;
}
*/
p {
	color:white;
}

h3 {
	color:white;
	font-size: 2.5rem;
}

.heading {
	text-align:center;
	text-transform:uppercase;
	font-weight:400;
	font-size:3rem;
	margin-bottom:5rem;
}

.nom-heading {
	font-family: "Noto Serif";
	font-weight:normal;
	color:#76e1e8;
	text-align: center;
	font-size:2.5rem;
	margin-bottom:5rem;
}

h4 { 
	font-family: "Noto Serif";
	color: #76E1E8;
	text-align: center;
	font-size: 2.5rem;
	font-weight: normal;

}

ul {
	color:#fff;
	list-style-type: none;
}

ul li {
	margin:1rem 0;
	padding-left:2rem;
	position:relative;
/*	background-image:url(/rise/images/star.png);
	background-repeat: no-repeat;
	background-position: left .5rem;
*/}

ul, .if {
	font-size:1.3rem;
}

.star-icon { 
	position:absolute;
	left:0;
	top:0.5rem;
	color:#76E1E8;
	/*width:2rem;*/
}

.li-contents {
	display:inline;
}

.testimonial-name {
	font-weight: bold;
	color:#fff;
	margin-top:2rem;
	margin-bottom:.5rem;
}

.testimonial {
	color:#fff;
	font-style: italic;
	font-weight: 300;

}

h5 {
	color:#76E1E8;
	font-size:2rem;
	font-weight: normal;
}

#about {
	font-weight: 300;
}

p {
	font-weight: 300;
}

.email {
	display: inline-block;
	border-bottom: 1px dashed white;
	text-decoration: none;
	color:#fff;
}

.email:hover {
	font-weight: bold;
	color:#fff;
}

.judges {
	overflow:visible;
	text-align: center;
}

.slick-list {
	/*overflow: visible;*/
	/*-webkit-mask-image: -webkit-gradient(linear, -30% top, 130% top, from(rgba(0,0,0,1)), color-stop(0.75, rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
}

.slick-slide {
	outline:none;
}

.top-judges {
	clear:both;
}

.judge {
	color:#fff;
	vertical-align: top;
	display:inline-block;
	width:14rem;
	margin:2rem 0;
}



.judge-image {
	width:100%;
	height:100%;
	background-size:contain;
	border-radius: 50%;
	box-sizing:border-box;
	border:2px solid white;
}

.judge-info {
	margin-top:1rem;
	padding:0.2rem;
	padding-top: .5rem;
	text-align: center;
}

.judge-name {
	font-weight:bold;
	text-transform: uppercase;
	font-size: 1.5rem;
	height: 3.0rem;
	line-height: 1.5rem;

}

.judge-description {
	font-size:1.25rem;
	font-weight:300;
	margin-top:.1rem;
	height: 3.0rem;
	line-height: 1.25rem;
}

.all-judges {
	width:100%;
	display:none;
	clear:both;
}

.expand-judges-button {
	margin:5rem auto;
	display:inline-block;
	color:#fff;
	text-transform: uppercase;
	border:2px solid #7FF5FC;
	border-radius: 0;
	padding:1rem 2rem;
	text-decoration: none;
	cursor: pointer;
}

.slick-dots li button:before {
	color:#fff;
}

.slick-dots li.slick-active button:before {
	color:#fff;
}


h2 {
	font-weight: bold;
	color:#fff;
	font-size:4rem;
}

.form-container {
	background:#1A1B26;
	border-top:2px solid #7FF5FC;
	padding:2.5rem 5rem 5rem 5rem;
	position:relative;
}

.form-container input {
	background-color: rgba(0,0,0,0);
	border:none;
	color:#fff;
	border-bottom:1px solid rgba(255,255,255,.4);
	padding:0 0;
	border-radius:0;
}

.form-container select {
	-webkit-appearance: none;
    -moz-appearance : none;
	background-color: rgba(0,0,0,0.0);
	color:rgba(255,255,255,1.0);
	border-radius: 0;
	border:0px solid rgba(255,255,255,.4);
	border-bottom:1px solid rgba(255,255,255,.4);
	padding:0 0;
	overflow: visible;
}

.form-container select:focus {
	border:0px solid white;
    border-bottom:1px solid rgba(255,255,255,1.0);
}

.form-container input:focus {
    outline-width: 0;
    border:0px solid black;
    border-bottom:1px solid rgba(255,255,255,1.0);
}

@media (max-width: 550px) and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.specify-category {
	display:none;
}

.drop-down-icon {
	position:relative;
	left:-1em;
	color:rgba(255,255,255,0.4);
}

@media (min-width: 1000px) {
	.container.smaller {
		width:60%;
	}
}

.u-full-width {
	width:99%;
}

.u-big-width {
	width:90%;
}

@media (min-width: 750px) {
	.u-big-width {
		width:80%;
	}
}


.submit-container {
	height:5rem;
	position:absolute;
	bottom:-2.5rem;
	left:0;
	right:0;
	text-align: center;
}

.nominate-submit {
	height:5rem;
	background-color:#7FF5FC;
	margin:0 auto;
	font-weight: bold;
	font-size:1.5rem;
	color:#000;
	border-radius: 0;
	border:none;
	padding:0 2rem;
	display: inline-block;
	cursor: pointer;
}

.nominate-cta {
	background-color:#7FF5FC;
	display:inline-block;
	font-weight: bold;
	font-size:1.5rem;
	color:#000;
	border-radius: 0;
	border:none;
	padding:1.5rem 2.5rem;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
}

.who {
	color:#fff;
	display:block;
	margin-bottom:1rem;
	font-size:2rem;
}

.categories {
	text-align: left;
}

.category {
	/* Rectangle Copy 6: */
	cursor:default;
	background-color:rgba(255,255,255,.1);
	border-radius:10rem;
	padding:.7rem 1.5rem;
	color:#fff;
	margin:0.5rem 0.5rem 0.5rem 0;
	font-family:"Ubuntu";
	font-weight:bold;
	font-size:1.2rem;
	display:inline-block;
}

.companies {
	text-align: center;
}

.company {
	display:inline-block;
	width:12rem;
	height:4rem;
	margin:2rem 1rem;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

@media (min-width: 550px) {
	.company {
		width:16rem;
	}
}


.top-companies .company {
	width:9rem;
	height:2.5rem;
	margin:1rem 1rem;
}

section.footer {
	padding-top:5rem;
	padding-bottom:5rem;
}

.footer {
	color:#fff;
	text-align: center;
}

.footer h6 {
	font-weight:bold;
	font-size:1.75rem;
}

.footer p {
}

.copy {
	margin-top:5rem;
}

.faq {
	color:#7FF5FC;
	font-size:1.75rem;
	cursor: pointer;
	/*border-bottom:1px solid rgba(127, 245, 252, 0.5);*/
	padding-bottom:1rem;
	color:#fff;
	/*border-bottom:1px solid rgba(255,255,255,0.5);*/
	font-weight: 400;
	/*letter-spacing: 0.25px;*/
}

.faq .fa {
	float:right;
	color:#7FF5FC;
	color:#fff;
}

.faqs p {
	font-weight:300;
	font-size:1.5rem;
	display:none;
	padding-bottom:1rem;
}

.company-faq-button {
	border: 1px solid #00b2b2;
	border-radius: 0rem;
	display:inline-block;
	color:#00b2b2;
	text-decoration: none;
	padding:0.5rem 0.5rem;
    font-size: 10px;
}

.sep {
	width:15%;
	margin:0 auto;
	background-color:#7FF5FC;
	height:1px;
	z-index:5;
	position:relative;
	border-radius:1px;
}

.back-to-top {
	color:white;
	display:inline-block;
	text-decoration: none;
	border-bottom:1px dashed white;
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Grow Shadow */
div.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
div.hvr-grow-shadow:hover, div.hvr-grow-shadow:focus, div.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
  content: "\f061";
  position: absolute;
  right: 0.8em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover:before, .hvr-icon-wobble-horizontal:focus:before, .hvr-icon-wobble-horizontal:active:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



.sepproject {
	width:50%;
	margin:0 auto;
	background-color:#7FF5FC;
	height:1px;
	z-index:5;
	position:relative;
	border-radius:1px;
}
.img-circularimg {
    border-radius: 50%;
}
.circleborder {
width: 300px;
height: 300px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url(URL) no-repeat;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
